In [9]:
#We did this exercise in collaboration with many people from my class
#So credit goes to all students of UPM Computational Biology Master
#Academic year 2018/19

#In some cases, I put LIMIT in queries because my PC is slow and there is no reason to assume that
#if the first 1000 worked, the following wouldnt.

Endpoint set to: https://www.ebi.ac.uk/rdf/services/sparql
Return format: JSON

p
http://www.w3.org/2000/01/rdf-schema#seeAlso
http://rdf.ebi.ac.uk/terms/ensembl/DEPENDENT

In [ ]:
#Takes too much time to retreive all. But the query works fine because  putting this:

#PREFIX uniprot:<http://purl.uniprot.org/core/>
#SELECT ?protein
#WHERE {?protein a uniprot:Protein}
#LIMIT 1000

#Works fine, so the problem is with COUNT

%endpoint http://sparql.uniprot.org/sparql/
%format JSON

#1 How many protein records are in UniProt? 

PREFIX uniprot:<http://purl.uniprot.org/core/>
#SELECT (COUNT(DISTINCT ?protein) AS ?count) 
#SELECT ?protein
SELECT (COUNT(DISTINCT ?protein) AS ?count) 

WHERE {?protein a uniprot:Protein}
#LIMIT 1000

Endpoint set to: http://sparql.uniprot.org/sparql/
Return format: JSON

In [36]:
#OK
#2 How many Arabidopsis thaliana protein records are in UniProt?  
%format JSON

%endpoint http://sparql.uniprot.org/sparql
PREFIX uniprotcore:<http://purl.uniprot.org/core/> 
PREFIX taxonomy:<http://purl.uniprot.org/taxonomy/>
SELECT (COUNT(DISTINCT ?protein) AS ?count) 
WHERE
{
    ?protein a uniprotcore:Protein .
    ?protein uniprotcore:organism taxonomy:3702 #This is the taxon of A. Thaliana
            
}

#Answer: 89247

Return format: JSON
Endpoint set to: http://sparql.uniprot.org/sparql

count
89247

In [38]:
#3 What is the description of the enzyme activity of UniProt Protein Q9SZZ8
%endpoint http://sparql.uniprot.org/sparql
%format JSON



PREFIX uniprot:<http://purl.uniprot.org/uniprot/> 
PREFIX uniprotcore:<http://purl.uniprot.org/core/> 
SELECT ?label
WHERE
{
    uniprot:Q9SZZ8 a uniprotcore:Protein ; 
    uniprotcore:enzyme ?label
}

#Beta-carotene + 4 reduced ferredoxin [iron-sulfur] cluster + 2 H(+) + 2 O(2) <=> zeaxanthin + 4 oxidized ferredoxin [iron-sulfur] cluster + 2 H(2)O

Endpoint set to: http://sparql.uniprot.org/sparql
Return format: JSON

label
http://purl.uniprot.org/enzyme/1.14.15.24

In [3]:
#4 Retrieve the proteins ids, and date of submission, for proteins that have been added to 
#UniProt this year   
%endpoint http://sparql.uniprot.org/sparql
%format JSON


PREFIX uniprotcore:<http://purl.uniprot.org/core/>
PREFIX date:<http://www.w3.org/2001/XMLSchema#>
SELECT ?protein ?date
WHERE 
{ 
    ?protein a uniprotcore:Protein .
    ?protein uniprotcore:created ?date . 
    FILTER ( ?date >= "20180101"^^date:date && ?date <= "20181231"^^date:date ) 
}
LIMIT 1000

Endpoint set to: http://sparql.uniprot.org/sparql

protein,date
http://purl.uniprot.org/uniprot/A0A1P8B8F8,2018-10-10
http://purl.uniprot.org/uniprot/Q680B7,2018-10-10
http://purl.uniprot.org/uniprot/A0A2K9YNH4,2018-04-25
http://purl.uniprot.org/uniprot/A0A024B7W1,2018-01-31
http://purl.uniprot.org/uniprot/A0A2H3TN27,2018-01-31
http://purl.uniprot.org/uniprot/A0A2D1BN72,2018-01-31
http://purl.uniprot.org/uniprot/A0A2D1BNF2,2018-01-31
http://purl.uniprot.org/uniprot/A0A2D1BPS8,2018-01-31
http://purl.uniprot.org/uniprot/A0A2D1BS23,2018-01-31
http://purl.uniprot.org/uniprot/A0A2D1BSI7,2018-01-31
http://purl.uniprot.org/uniprot/A0A2D1BTE9,2018-01-31
http://purl.uniprot.org/uniprot/A0A2D1BUV9,2018-01-31
http://purl.uniprot.org/uniprot/A0A2D1BZT4,2018-01-31
http://purl.uniprot.org/uniprot/A0A2D3UTF8,2018-01-31
http://purl.uniprot.org/uniprot/A0A2D3UWB7,2018-01-31
http://purl.uniprot.org/uniprot/A0A2D3UZD4,2018-01-31
http://purl.uniprot.org/uniprot/A0A2D3VDM7,2018-01-31
http://purl.uniprot.org/uniprot/A0A2G1Y4D7,2018-01-31
http://purl.uniprot.org/uniprot/A0A2G1XZM2,2018-01-31
http://purl.uniprot.org/uniprot/A0A2G1Y9C5,2018-01-31

In [6]:
#5 How  many species are in the UniProt taxonomy?
%endpoint http://sparql.uniprot.org/sparql
%format JSON

PREFIX uniprotcore:<http://purl.uniprot.org/core/>
SELECT (COUNT(DISTINCT ?taxon) AS ?count)
FROM <http://sparql.uniprot.org/taxonomy>
WHERE
{
    ?taxon a uniprotcore:Taxon .
    ?taxon uniprotcore:rank uniprotcore:Species
}

#Answer:1601900

Endpoint set to: http://sparql.uniprot.org/sparql
Return format: JSON

count
1601900

In [8]:
#OK
#6 How many species have at least one protein record? 
%endpoint http://sparql.uniprot.org/sparql
%format JSON

PREFIX uniprotcore:<http://purl.uniprot.org/core/>
SELECT (COUNT(DISTINCT ?taxon) AS ?count)
WHERE
{
    ?protein a uniprotcore:Protein .
    ?protein uniprotcore:organism ?taxon .
    ?taxon uniprotcore:rank uniprotcore:Species
}

#Answer: 833130

Endpoint set to: http://sparql.uniprot.org/sparql
Return format: JSON

count
833130

In [9]:
#The ones with atlas dont work for some reason
%endpoint http://www.ebi.ac.uk/rdf/services/atlas/sparql
#%endpoint https://www.ebi.ac.uk/rdf/services/sparql
#%endpoint http://sparql.uniprot.org/sparql

#7.


PREFIX dcterms: <http://purl.org/dc/terms/>
PREFIX atlasterms: <http://rdf.ebi.ac.uk/terms/atlas/>
PREFIX uniprotcore:<http://purl.uniprot.org/core/>
PREFIX taxon:<http://purl.uniprot.org/taxonomy/>
SELECT ?protein
WHERE
{
    SERVICE<http://sparql.uniprot.org/sparql> 
    {
        ?protein a uniprotcore:Protein . 
        ?protein uniprotcore:organism taxon:3702 . 
        ?protein uniprotcore:recommendedName ?name . 
        ?name uniprotcore:fullName ?full . 
    FILTER CONTAINS( ?full, 'Floral homeotic protein APETALA 3') . 
    }
    ?probe atlasterms:dbXref ?protein . 
    ?probe dcterms:identifier ?id 
    
}

Endpoint set to: http://www.ebi.ac.uk/rdf/services/atlas/sparql

In [7]:
#8
%endpoint http://www.ebi.ac.uk/rdf/services/atlas/sparql
PREFIX dcterms: <http://purl.org/dc/terms/>
PREFIX sio: <http://semanticscience.org/resource/>
PREFIX atlas: <http://rdf.ebi.ac.uk/resource/atlas/>
PREFIX atlasterms: <http://rdf.ebi.ac.uk/terms/atlas/>
PREFIX uniprotcore:<http://purl.uniprot.org/core/> 
PREFIX taxonomy:<http://purl.uniprot.org/taxonomy/> 
SELECT ?desc
WHERE
{
    SERVICE<http://sparql.uniprot.org/sparql> 
    {
        ?protein a uniprotcore:Protein .
        ?protein uniprotcore:organism taxonomy:3702 .
        ?protein uniprotcore:recommendedName ?name .
        ?name uniprotcore:fullName ?full .
        FILTER CONTAINS( ?full, 'APETALA 3') .
    }
    ?probe atlasterms:dbXref ?protein .  
    ?differential atlasterms:isMeasurementOf ?probe .
    ?dea atlasterms:hasExpressionValue ?differential .
    ?experiment atlasterms:hasAnalysis ?dea .
    ?experiment dcterms:description ?desc . 
    ?differential sio:SIO_000300 ?value .
    FILTER CONTAINS(?value, 'DOWN') 
}

SELECT ?predicate
WHERE
{
    SERVICE<http://sparql.uniprot.org/sparql> 
    {
        ?protein a uniprotcore:Protein .
        ?protein uniprotcore:organism taxonomy:3702 .
        ?protein uniprotcore:recommendedName ?name .
    ?name uniprotcore:fullName ?full .
    FILTER CONTAINS( ?full, 'APETALA 3') .
    }
    ?probe atlasterms:dbXref ?protein .
    ?diferential atlasterms:isMeasurementOf ?probe .
    ?diferential ?predicate ?value
}

Endpoint set to: http://www.ebi.ac.uk/rdf/services/atlas/sparql

In [39]:
%endpoint  http://www.ebi.ac.uk/rdf/services/reactome/sparql
%format JSON
#9

PREFIX biopax3: <http://www.biopax.org/release/biopax-level3.owl#>
PREFIX taxonomy:<http://identifiers.org/taxonomy/> 
SELECT (COUNT  (?pathway) AS ?count)
WHERE 
{
    ?pathway a biopax3:Pathway . 
    ?pathway biopax3:organism taxonomy:3702
}

Endpoint set to: http://www.ebi.ac.uk/rdf/services/reactome/sparql
Return format: JSON

count
809

In [ ]:
#10 
%endpoint  http://www.ebi.ac.uk/rdf/services/reactome/sparql

PREFIX biopax3: <http://www.biopax.org/release/biopax-level3.owl#>
SELECT ?pubmedId
WHERE
{
    ?pathway a biopax3:Pathway .
    ?pathway biopax3:displayName ?name . 
    ?pathway biopax3:xref ?ref . 
    ?red biopax3:db ?db . 
    ?ref biopax3:id ?pubmedId . 
    FILTER(str(?name) = 'Degradation of the extracellular matrix') .
    FILTER(str(?db) ='Pubmed') 
}

Endpoint set to: http://www.ebi.ac.uk/rdf/services/reactome/sparql

In [6]:

#11 find the AGI codes and gene names for all Arabidopsis thaliana  proteins that have a protein function annotation description that mentions “pattern formation”
# look for: protein --> gene --> AGI code --> gene name, then see if we can find 'pattern formation'

%endpoint http://sparql.uniprot.org/sparql/

PREFIX uniprotcore:<http://purl.uniprot.org/core/>
PREFIX taxon:<http://purl.uniprot.org/taxonomy/>
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>
PREFIX skos:<http://www.w3.org/2004/02/skos/core#>

SELECT ?agi ?name
WHERE
{
    ?protein a uniprotcore:Protein .
    ?protein uniprotcore:organism taxon:3702 .
    ?protein uniprotcore:encodedBy ?gene . 
    ?gene uniprotcore:locusName ?agi . 
    ?gene skos:prefLabel ?name . 
    ?protein uniprotcore:annotation  ?annot . 
    ?annot a uniprotcore:Function_Annotation ; 
        rdfs:comment ?annotComment . 
    FILTER CONTAINS(str(?annotComment), 'pattern formation')      
}

Endpoint set to: http://sparql.uniprot.org/sparql/

agi,name
At3g09090,DEX1
At3g02130,RPK2
At4g21750,ATML1
At2g46710,ROPGAP3
At5g55250,IAMT1
At1g13980,GN
At5g40260,SWEET8
At5g02010,ROPGEF7
At1g69670,CUL3B
At1g63700,YDA
At3g54220,SCR
At4g37650,SHR
At1g26830,CUL3A
At1g69270,RPK1
At2g42580,TTL3